$rich-brown: #1b0800;
$dark-brown: #2b2118;
$brown: #451400;
$light-brown: #6f1a07;
$pastel-brown: #a85913;

$white: #ffffff;
$cream: #f7f2ed;
$almond: #ede1d5;

$red: #fa4141;
$bright-red: #ff5454;
$lime-green: #70f8ba;
$green: #009b72;
$purple: #6761a8;
$blue: #009ddc;
