@import url("https://fonts.googleapis.com/css?family=Ruda:400,600,700,800");

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500;600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@700&display=swap");

@import "./theme/theme";

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background: $cream;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

div[tabindex][role="group"] {
  flex: 1;
  display: flex;
  height: 100%;

  overflow-y: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
select:-webkit-autofill:active {
  border: 0;
  border-radius: 2px;
  -webkit-text-fill-color: $brown;
  -webkit-box-shadow: 0 0 0 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
  caret-color: $white;
  font-family: $core-font;
}

input {
  &:-webkit-autofill::first-line,
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    font-family: $core-font;
    font-size: 16px;
  }
}

button {
  padding: 0;
  margin: 0;
  outline: none;
  border: 0;
  background: transparent;
}
